body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-brown-600 {
  background-color: #593a18;
}

.blurred-element {
  filter: blur(5px); /* Adjust the blur radius as desired */
}

.blurred-none {
  filter: blur(0px); /* Adjust the blur radius as desired */
}

.section-bg{
  background: linear-gradient(
    45deg, #eed6f5, #d3e6f3
  )
}

.section-bg1{
  background-color: #fff;
}

.logo{
  filter: invert(100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;